:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --Linear-1: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --Linear-2: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffdfd;
}

.big_box {
  display: flex;
  width: 800px;
  margin: 100px auto;
}

.big_box .text_box {
  background-image: url(../images/bg-pattern-desktop.svg);
  flex-basis: 50%;
  padding: 30px 110px 30px 89px;
  background-repeat: round;
  background-color: hsl(0, 100%, 98%);
  background-position: inherit;
}

.big_box .text_box .logo img {
  width: 100px;
  margin-bottom: 40px;
}

.big_box .text_box h2 {
  font-size: 34px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.big_box .text_box h2 span:first-of-type {
  color: var(--Desaturated-Red);
  font-weight: 100;
}

.big_box .text_box h2 span:nth-of-type(2) {
  color: var(--Dark-Grayish-Red);
  font-weight: bolder;
}

.big_box .text_box p {
  width: 270px;
  font-size: 10px;
  line-height: 1.7;
}

form {
  position: relative;
}

.big_box .text_box input {
  width: calc(100% - 20px);
  padding: 10px 0px 10px 20px;
  border-radius: 20px;
  border: 1px solid #f19898;
  outline: none;
  color: #f19898;
  font-size: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.big_box .text_box input[type="text"]::placeholder {
  transition: opacity 0.5s;
  color: #f19898;
}
.big_box .text_box input[type="text"]:focus::placeholder {
  opacity: 0;
}

.big_box .text_box .button {
  color: transparent;
  position: absolute;
  top: 1px;
  left: 189px;
  width: 60px;
  padding: 10px 0px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.big_box .text_box form img {
  position: relative;
  left: -37px;
  bottom: -7px;
}

.big_box .text_box form #error {
  position: absolute;
  top: 9px;
  left: 165px;
  width: 15px;
}

small {
  color: red;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.hide {
  display: none;
}

.big_box .photo_box {
  flex-basis: 50%;
}

.big_box .photo_box .image img {
  max-width: 100%;
  display: block;
}
